.front-page-container {

    .video_popup_holder{
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        z-index: 20;
        background-color: rgba(#fff, 80%);
        backdrop-filter: blur(8px);
        
        .video_holder{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 55%;

            @media #{$tablet-s} {
                width: 90vw;
            }

            @media #{$tablet-l} {
                width: 65vw;
            }

            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }

    .section-hero {
        height: calc(var(--vh, 1vh) * 100);
        background-color: #fff;
        display: flex;
        align-items: flex-end;
        padding: 80px 40px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 0 0 40px 40px;
        position: relative;
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        @media #{$tablet-s} {
            border-radius: 0 0 px-to-vw(80) px-to-vw(80);
            padding: px-to-vw(120) px-to-vw(143);
        }
        

        &:after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: cover;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.25);
        }

        .section-content {
            position: relative;
            z-index: 3;
            opacity: 0;
            text-align: center;

            @media #{$tablet-s} {
                text-align: left;
            }

            .section-title {
                @include title-1();
                color: #fff;
            }

            .btn {
                margin-top: 30px;
                width: 240px;
                cursor: pointer;
                background-color: #fff;
                color: $dark-grey;
                padding: 15px 45px;
                
                @media #{$tablet-s} {
                    justify-content: flex-start;
                }
                
                @media #{$desktop-s} {
                    padding: px-to-vw(20) px-to-vw(65);
                    width: 13.8vw;
                }

                &:after{
                    display: none;
                }

                .mobile-icon{
                    opacity: 1;
                    visibility: visible;
                    display: inline;

                    svg{
                        height: 20px;
                        width: 10px;
                        margin-left: 5px;
                    }

                    @media #{$laptop-s} {
                        display: none!important;
                    }   
                }

                span{
                    display: none;
                    color: #fff;
                    opacity: 0;
                    position: relative;
                    visibility: hidden;
                    @include transition(all, 100ms, ease, 0ms);

                    @media #{$tablet-xl} {
                        display: inline-block;
                        position: absolute;
                        left: 53.5%;
                    }

                    svg{
                        vertical-align: middle;

                        path {
                            fill: $light-green;
                        }
                    }
                }

                @media #{$laptop-s} {
                    &:hover{
                        width: 335px;
    
                        @media #{$desktop-s} {
                            width: 19.5vw;
                        }
    
                        span{
                            // display: inline-block;
                            opacity: 1;
                            width: auto;
                            visibility: visible;
                            color: $dark-grey;
                            @include transition(all, 400ms, ease, 400ms);
                        }
                    }
                }
                
            }
        }

        .section-background {
            @include cropped-img();
            z-index: 1;
            opacity: 0;
        }
    }

    .description-section {
        margin-top: 50px;
        padding: 0 30px;
        box-sizing: border-box;

        @media #{$tablet-s} {
            padding: 0;
            margin-top: px-to-vw(257);
        }

        .section-title {
            text-align: center;
            @include title-2();
            margin-bottom: 20px;
            text-transform: capitalize;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(40);
            }
        }

        .section-description {
            @include fadeIn();
            @include transition();
            
            @media #{$tablet-s} {
                padding: 0;
                margin: auto;
                width: 600px;
            }

            @media #{$desktop-s} {
                width: px-to-vw(780);
            }

            p {
                text-align: center;
                @include text-1();
                font-size: 14px;

                @media #{$tablet-s} {
                    @include text-1();
                }
            }
        }
    }

    .images-with-description-section {
        margin-top: px-to-vw(309);

        .section-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 0 10px;
            padding-bottom: 50px;
            
            @media #{$tablet-s} {
                padding: 0 20px;
                padding-bottom: 50px;
            }

            @media #{$tablet-l} {
                padding: 0 40px 0 20px;
            }

            @media #{$laptop-s} {
                padding: 0 120px 0 px-to-vw(32);
            }

            @media #{$desktop-s} {
                padding: 0 px-to-vw(113) 0 px-to-vw(32);
            }

            .images-holder {
                display: flex;
                width: 100%;
                @include fadeIn();
                @include transition();
                margin-bottom: 50px;

                @media #{$tablet-l} {
                    margin-bottom: 0;
                    width: 74%;
                }

                .image-holder {
                    width: 50%;
                    box-sizing: border-box;

                    &:first-child {
                        padding-right: 5px;
                        @media #{$tablet-s} {
                            padding-right: px-to-vw(16);
                        }
                    }

                    &:last-child {
                        padding-left: 5px;
                        @media #{$tablet-s} {
                            padding-left: px-to-vw(16);
                        }
                    }

                    .image {
                        position: relative;
                        padding-top: 130%;
                        border-radius: 20px;
                        overflow: hidden;
                        background-color: $dark-grey;

                        @media #{$tablet-s} {
                            padding-top: 100%;
                            border-radius: px-to-vw(40);
                        }

                        img {
                            @include cropped-img();
                        }
                    }
                }
            }

            .info-holder {
                width: 100%;
                padding: 0px 30px;
                box-sizing: border-box;
                @include fadeIn();
                @include transition();
                text-align: center;
                
                @media #{$tablet-l} {
                    width: 26%;
                    text-align: left;
                    padding-right: 0px;
                    padding-left: 20px;
                }

                @media #{$laptop-s} {
                    padding-left: 70px;
                }

                @media #{$desktop-s} {
                    padding-left: px-to-vw(133);
                }

                .btn{
                    margin-top: 30px;
                }

                .section-description {
                    p {
                        @include text-2();
                        text-align: center;

                        @media #{$tablet-l} {
                            text-align: left;
                        }
                    }
                }

                .link-btn {
                    margin-top: 20px;
                }
            }
        }
    }

    .logos-section {

        box-sizing: border-box;
        background-color: $light-grey;
        padding: 60px 10px 10px 10px;
            
        @media #{$tablet-s} {
            margin-top: px-to-vw(32);
            padding: 60px 20px 20px 20px;
        }

        @media #{$tablet-l} {
            padding: px-to-vw(268) px-to-vw(32) px-to-vw(32);
        }

        .section-title {
            @include title-2();
            text-align: center;
            margin-bottom: 40px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(72);
            }
        }

        .swiper-wrapper{
            transition-timing-function : linear;
        }

        .logos {
            margin-bottom: 60px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(225);
            }

            .swiper-slide{
                margin-right: 50px;
                width: 40%;

                @media #{$tablet-l} {
                    margin-right: 4vw;
                }
                
                .slide-content{
                    text-align: center;
                    height: 30px;

                    @media #{$tablet-s} {
                        height: 25px;
                    }

                    @media #{$tablet-l} {
                        height: 2.4vw;
                    }

                    img{
                        height: 100%;
                        width: 80%;

                        @media #{$tablet-s} {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .image-holder {
            position: relative;
            border-radius: 40px;
            overflow: hidden;
            padding-top: 135%;
            background-color: $dark-grey;
            -webkit-mask-image: -webkit-radial-gradient(white, black);

            @media #{$tablet-s} {
                padding-top: 56%;
                border-radius: px-to-vw(80);
            }

            &:after{
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                top: 0;
                object-fit: cover;
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.25);
            }

            .section-background{
                @include cropped-img();
                z-index: 1;
                @include fadeIn();
                @include transition();
            }

            .image-content {
                padding: 25px;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: 3;

                @media #{$tablet-s} {
                    transform: none;
                    top: auto;
                    bottom: 0;
                    left: 0;
                    padding: 0 px-to-vw(110) px-to-vw(115);
                }

                .section-description {
                    width: 100%;
                    @include fadeIn();
                    @include transition();

                    @media #{$tablet-s} {
                        width: px-to-vw(1120);   
                    }

                    p {
                        @include title-2();
                        color: #fff;
                    }
                }
            }

            .link-btn {
                margin-top: px-to-vw(75);
                color: #fff;

                &:hover{
                    color: $light-green;
                }
            }
        }
    }

    .images-with-description-2-section {
        margin-top: 65px;
        padding: 0 10px;
        box-sizing: border-box;

        @media #{$tablet-s} {
            padding: 0 20px;
            margin-top: px-to-vw(185);
        }

        @media #{$tablet-l} {
            padding: 0 px-to-vw(32);
        }

        .section-content {
            .section-title {
                @include title-2();
                text-align: center;
                margin-bottom: 60px;
                @include fadeIn();
                @include transition();

                @media #{$tablet-s} {
                    margin-bottom: px-to-vw(160);
                }
            }

            .columns {
                display: flex;
                flex-wrap: wrap;

                .col {
                    box-sizing: border-box;

                    &.image-col {
                        width: 50%;
                        order: 2;
                        box-sizing: border-box;
                        padding-left: 5px;

                        &:nth-of-type(1){
                            padding-right: 5px;
                            padding-left: 0px;
                        }

                        @media #{$tablet-l} {
                            width: 33.7%;
                            padding-left: 0px;

                            &:nth-of-type(1){
                                padding-right: 0px;
                                padding-left: 0px;
                            }
                        }

                        .image-holder {
                            padding-top: 135.8%;
                            position: relative;
                            background-color: $dark-grey;
                            border-radius: 20px;
                            overflow: hidden;
                            @include fadeIn();
                            @include transition();
                            
                            @media #{$tablet-s} {
                                padding-top: 115.8%;
                                border-radius: px-to-vw(40);
                            }

                            img {
                                @include cropped-img();
                            }
                        }
                    }

                    &.info-col {
                        width: 100%;
                        order: 1;
                        text-align: center;
                        padding: 0 20px;
                        align-self: center;
                        margin-bottom: 70px;
                        @include fadeIn();
                        @include transition();

                        @media #{$tablet-l} {
                            width: 32.6%;
                            margin-bottom: 0px;
                            order: 2;
                        }

                        @media #{$laptop-s} {
                            padding: 0 70px;
                        }

                        @media #{$laptop-l} {
                            padding: 0 90px;
                        }

                        @media #{$desktop-s} {
                            padding: 0 px-to-vw(150);
                        }

                        .col-title {
                            @include text-1();
                            font-family: $font1M;
                            margin-bottom: 20px;
                        }

                        .col-description {
                            p {
                                @include text-2();
                            }
                        }

                        .btn {
                            margin-top: 35px;
                        }
                    }
                }
            }
        }
    }

    .services-section {
        background-color: $dark-green;
        padding-bottom: 0;
        box-sizing: border-box;
        margin-top: 50px;
        padding: 10px;
        box-sizing: border-box;
        
        @media #{$tablet-s} {
            padding: 20px;
            margin-top: px-to-vw(150);
        }

        @media #{$tablet-l} {
            padding: px-to-vw(32);
        }

        .section-content {
            display: flex;
            flex-wrap: wrap;

            // @media #{$tablet-s} {
            //     flex-wrap: nowrap;
            // }

            .info-holder {
                width: 100%;
                box-sizing: border-box;
                align-self: center;
                text-align: center;
                padding-top: 70px;
                padding-bottom: 60px;
                @include fadeIn();
                @include transition();
                
                @media #{$tablet-s} {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: px-to-vw(80);
                    width: 35%;
                    text-align: left;
                }
                
                @media #{$tablet-l} {
                    padding-left: px-to-vw(108);
                    width: 40%;
                }

                @media #{$laptop-s} {
                    width: 50%;
                }

                .section-title {
                    @include title-2();
                    color: #fff;
                    margin-bottom: 32px;
                    text-transform: capitalize;

                    br{
                        display: none;
                    }

                    @media #{$tablet-s} {
                        margin-bottom: 52px;

                        br{
                            display: initial;
                        }
                    }
                }

                .link-btn {
                    color: #fff;

                    &:hover{
                        color: $light-green;
                    }
                }
            }

            .services-holder {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @include fadeIn();
                @include transition();

                @media #{$tablet-s} {
                    width: 65%;
                }

                @media #{$tablet-l} {
                    width: 60%;
                }

                @media #{$laptop-s} {
                    width: 50%;
                }

                .service-holder {
                    width: 50%;
                    box-sizing: border-box;
                    display: flex;
                    margin-bottom: 10px;
                    
                    @media #{$tablet-s} {
                        margin-bottom: px-to-vw(32);
                    }

                    &:nth-child(odd) {
                        padding-right: 5px;
                        @media #{$tablet-s} {
                            padding-right: px-to-vw(16);
                        }
                    }

                    &:nth-child(even) {
                        padding-left: 5px;
                        @media #{$tablet-s} {
                            padding-left: px-to-vw(16);
                        }
                    }

                    @media #{$tablet-s} {
                        &:hover{
                            .service{
                                border-radius: px-to-vw(80);
    
                                .service-icon{
                                    border: solid 1px rgba(#fff, 100%);
    
                                    img{
                                        height: 2.6vw;
                                    }
                                }
                            }
                        }
                    }

                    .service {
                        padding: 25px 20px;
                        box-sizing: border-box;
                        border-radius: 20px;
                        overflow: hidden;
                        background-color: #235A5A;
                        cursor: pointer;
                        @include transition();

                        @media #{$tablet-s} {
                            padding: px-to-vw(65) px-to-vw(47) px-to-vw(80);
                            border-radius: px-to-vw(40);
                        }

                        .service-icon {
                            margin-bottom: 30px;
                            width: 66px;
                            height: 66px;
                            border-radius: 500px;
                            border: solid 1px rgba(#fff, 100%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include transition();

                            @media #{$tablet-l} {
                                margin-bottom: px-to-vw(80);
                                width: px-to-vw(130);
                                height: px-to-vw(130);
                            }

                            img {
                                width: auto;
                                height: 36px;
                                @include transition();

                                @media #{$tablet-l} {
                                    height: 3vw;
                                }
                            }
                        }

                        .service-title {
                            @include title-3();
                            color: #fff;
                            margin-bottom: 13px;
                            @include font2R();
                        }

                        .service-description {
                            p {
                                @include text-2();
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .work-section {
        margin-bottom: 50px;

        @media #{$tablet-s} {
            margin-bottom: px-to-vw(105);
        }

        .section-title {
            @include title-2();
            text-align: center;
            margin-top: 70px;
            margin-bottom: 60px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-top: px-to-vw(190);
                margin-bottom: px-to-vw(90);
            }
        }

        .swiper-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            box-sizing: border-box;
            margin-bottom: 30px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                padding: 0 px-to-vw(60);
                justify-content: space-between;
            }

            .link-btn{
                display: none;
                    
                @media #{$tablet-s} {
                    display: flex;
                }
            }

            .controls-holder {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                @media #{$tablet-s} {
                    width: auto;
                    justify-content: initial;
                }

                .mobile-link{
                    a{
                        @include text-2();
                    }
                    @media #{$tablet-s} {
                        display: none;
                    }
                }

                .swiper-button {
                    &.work-swiper-button-prev {
                        margin-right: 20px;

                        img {
                            transform: rotate(180deg);
                        }
                    }

                    &.work-swiper-button-next {
                        margin-left: 20px;

                        @media #{$tablet-s} {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }

        .work-swiper {
            @include fadeIn();
            @include transition();
            .swiper-wrapper {
                .swiper-slide {

                    &.swiper-slide-active{
                        .slide-content{
                            .image-holder{
                                &:after{
                                    opacity: 1;

                                    @media #{$laptop-s} {
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }

                    .slide-content {
                        position: relative;

                        .client-logo{
                            position: absolute;
                            left: 50%;
                            z-index: 2;
                            bottom: 5%;
                            transform: translateX(-50%);
                            height: 24px;
                            opacity: 1;
                            @include transition();

                            @media #{$tablet-s} {
                                height: 2.5vw;
                            }

                            @media #{$laptop-s} {
                                opacity: 0;
                            }

                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .image-holder {
                            position: relative;
                            padding-top: 106%;
                            border-radius: 20px;
                            overflow: hidden;
                            -webkit-mask-image: -webkit-radial-gradient(white, black);

                            @media #{$tablet-s} {
                                padding-top: 76%;
                                border-radius: px-to-vw(40);
                            }


                            img {
                                @include cropped-img();
                                transform: scale(1);
                                @include transition();
                            }

                            &:after{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.25);
                                opacity: 0;
                                z-index: 1;
                                @include transition();
                            }
                        }

                        &:hover{
                            .client-logo{
                                opacity: 1;
                            }

                            .image-holder{
                                img{
                                    transform: scale(1.03);
                                }

                                &:after{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .work-swiper-pagination {
                position: relative;
                background-color: transparent;
                height: 5px;
                width: calc(100vw - #{px-to-vw(110)});
                margin: 50px auto 0;

                @media #{$tablet-s} {
                    margin: px-to-vw(95) auto 0;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: rgba($dark-grey, 25%);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                .swiper-pagination-progressbar-fill {
                    background-color: $light-green;
                    height: 3px;
                    z-index: 1;
                    top: 1px;
                }
            }
        }
    }

    .testimonials-section {
        background-color: $light-grey;

        .section-content {
            padding: 70px 30px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                padding: px-to-vw(160) 40px;
            }

            @media #{$tablet-l} {
                padding: px-to-vw(160) px-to-vw(200);
            }

            .left{
                width: 100%;

                @media #{$tablet-s} {
                    width: 30%;
                }
                
                @media #{$tablet-l} {
                    width: 40%;
                }

                .testimonials-author-swiper{
                    height: 100%;
                }

                .logo {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 30px;
                    
                    @media #{$tablet-s} {
                        text-align: left;
                        width: 60%;
                        margin-bottom: 0;
                    }

                    img {
                        height: 70px;
                        object-fit: contain;
                        width: 50%;
                        margin: auto;
                        
                        @media #{$tablet-s} {
                            margin: 0 auto 2vw;
                            height: 7vw;
                        }
                    }

                    .author-name,
                    .author-position {
                        @include text-2();
                        text-align: center;
                        display: none;

                        @media #{$tablet-s} {
                            display: block;
                        }
                    }

                }
            }

            .right{
                width: 100%;

                @media #{$tablet-s} {
                    width: 70%;
                }
                
                @media #{$tablet-l} {
                    width: 60%;
                }

                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .slide-content {
                                display: flex;
    
                                .testimonial-description {
                                    p {
                                        @include title-3();
                                        @include font2R();
                                        line-height: 1.2em;
                                        text-align: center;
                                        margin-bottom: 25px;

                                        @media #{$tablet-s} {
                                            text-align: left;
                                            margin-bottom: 0;
                                        }
                                    }

                                    .author-name,
                                    .author-position {
                                        @include text-2();
                                        text-align: center;

                                        @media #{$tablet-s} {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .controls-holder {
                        display: flex;
                        margin-left: auto;
                        margin-top: 60px;
                        justify-content: center;

                        @media #{$tablet-s} {
                            justify-content: left;
                            margin-top: 5vw;
                        }
    
                        .swiper-button {
                            &.testimonials-swiper-button-prev {
                                margin-right: 20px;
    
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}