.email-signature {
  padding: 10em 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    width: auto;

    margin: 2em auto 6em;
    cursor: pointer;
  }
}
