.template-expertise-page-container {
    background-color: $light-grey;
    
    .expertise-hero{
        box-sizing: border-box;
        padding: 100px 30px;
        text-align: center;
        @include fadeIn();
        @include transition(all, 800ms, ease, 400ms);

        @media #{$tablet-s} {
            padding: px-to-vw(320) px-to-vw(120);
        }

        @media #{$tablet-l} {
            padding: px-to-vw(270) px-to-vw(120);
        }

        h1{
            @include title-2();
            margin-bottom: 30px;

            br{
                display: none;
            }

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(40);

                br{
                    display: inline;
                }
            }
        }

        .btn{
            display: inline-block;
            width: auto;
            padding: 15px 45px;
                
            @media #{$desktop-s} {
                padding: px-to-vw(20) px-to-vw(65);
                width: 13.8vw;
            }
        }
    }

    .second-section-wrap{
        @include fadeIn();
        @include transition(all, 800ms, ease, 400ms);
    }

    .second-section{
        padding: px-to-vw(30);
        padding: 0px;
        box-sizing: border-box;

        @media #{$tablet-s} {
            padding: 20px;
        }

        @media #{$tablet-l} {
            padding: px-to-vw(30);
        }
        
        .second-section-holder{
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            background-color: #FFF;
            border-radius: 20px 20px 0 0;
            padding-bottom: 60px;

            @media #{$tablet-s} {
                border-radius: px-to-vw(30);
                padding-bottom: 0;
            }

            @media #{$tablet-l} {
                height: px-to-vw(800);
            }

            .left{
                width: 100%;
                display: flex;
                padding: 5px;
                box-sizing: border-box;
                height: 100%;
                margin-bottom: 60px;

                @media #{$tablet-s} {
                    padding: 10px;
                    width: 60%;
                    margin-bottom: 0px;
                }
        
                @media #{$tablet-l} {
                    padding: px-to-vw(15);
                }
                
                .slider{
                    width: 50%;
                    position: relative;

                    &.first{
                        padding-top: 50px;
                        box-sizing: border-box;
                    }

                    &.second{
                        display: flex;
                        flex-direction: column;
                        
                        @media #{$tablet-l} {
                            justify-content: flex-end;
                        }
                    }

                    .inner{
                        &.desktop{
                            display: none;

                            @media #{$tablet-l} {
                                display: block;
                            }
                        }
                    }

                    .image-holder-wrap{
                        padding: 5px;
                        box-sizing: border-box;
                        position: relative;

                        @media #{$tablet-s} {
                            padding: 10px;
                        }
                
                        @media #{$tablet-l} {
                            padding: px-to-vw(15);
                        }

                        .image-holder{
                            padding-top: 75%;
                            overflow: hidden;
                            position: relative;
                            border-radius: 20px;

                            @media #{$tablet-s} {
                                border-radius: px-to-vw(30);
                            }

                            @media #{$tablet-l} {
                                padding-top: 60%;
                            }

                            img{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                }
            }

            .right{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                @media #{$tablet-s} {
                    width: 40%;
                }
                
                @media #{$tablet-l} {
                    height: 100%;
                }
                
                .right-content{
                    padding-right: 50px;
                    padding-left: 50px;
                    text-align: center;

                    @media #{$tablet-s} {
                        text-align: left;
                        padding-right: px-to-vw(100);
                        padding-left: px-to-vw(100);
                    }
                    
                    @media #{$laptop-s} {
                        margin-left: auto;
                        padding-left: 0;
                        max-width: px-to-vw(400);
                    }

                    h2{
                        @include title-3();
                        @include font2R();
                        margin-bottom: 15px;

                        @media #{$tablet-s} {
                            margin-bottom: px-to-vw(25);
                        }
                    }
    
                    p{
                        @include text-1();
                    }
                }
            }
        }
    }

    .third-section{
        background-color: $dark-green;
        padding-top: 65px;
        padding-bottom: 65px;

        @media #{$tablet-s} {
            padding-top: px-to-vw(220);
            padding-bottom: px-to-vw(130);
        }
        
        h2{
            @include title-1();
            color: #fff;
            text-align: center;
            max-width: 300px;
            margin: auto;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                max-width: 100%;
            }
        }

        h3{
            @include title-2();
            color: #fff;
            text-align: center;
            margin-bottom: 40px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(120);
            }
        }

        .images-with-description-section {
            margin-top: 30px;
            margin-bottom: 70px;

            @media #{$tablet-s} {
                margin-top: px-to-vw(170);
                margin-bottom: px-to-vw(240);
            }
    
            .section-content {
                display: flex;
                align-items: center;
                padding: 0 10px;
                box-sizing: border-box;
                flex-wrap: wrap;

                @media #{$tablet-s} {
                    padding: 0 20px;
                    padding-bottom: 50px;
                }
    
                @media #{$tablet-l} {
                    padding: 0 20px;
                }
    
                @media #{$laptop-s} {
                    padding-right: px-to-vw(30);
                    padding-left: px-to-vw(140);
                }
    
                .images-holder {
                    order: 2;
                    display: flex;
                    width: 100%;
                    @include fadeIn();
                    @include transition();
                    margin-top: 50px;

                    @media #{$tablet-l} {
                        margin-top: 0;
                        width: 74%;
                    }
    
                    .image-holder {
                        width: 50%;
                        box-sizing: border-box;
    
                        &:first-child {
                            padding-right: 5px;

                            @media #{$tablet-s} {
                                padding-right: px-to-vw(16);
                            }
                        }
    
                        &:last-child {
                            padding-left: 5px;

                            @media #{$tablet-s} {
                                padding-left: px-to-vw(16);
                            }
                        }
    
                        .image {
                            position: relative;
                            padding-top: 130%;
                            border-radius: 20px;
                            overflow: hidden;
                            background-color: $dark-grey;

                            @media #{$tablet-s} {
                                padding-top: 100%;
                                border-radius: px-to-vw(40);
                            }
    
                            img {
                                @include cropped-img();
                            }
                        }
                    }
                }
    
                .info-holder {
                    order: 1;
                    width: 100%;
                    padding: 0 30px;
                    box-sizing: border-box;
                    @include fadeIn();
                    @include transition();
                    text-align: center;

                    @media #{$tablet-l} {
                        width: 26%;
                        text-align: left;
                        padding-left: 0px;
                        padding-right: 20px;
                    }
    
                    @media #{$laptop-s} {
                        padding-right: 70px;
                    }
    
                    @media #{$desktop-s} {
                        padding-right: px-to-vw(133);
                    }
    
                    .section-description {
                        p {
                            @include text-2();
                            color: #fff;
                        }
                    }
    
                    .link-btn {
                        margin-top: 20px;
                    }
                }
            }
        }

        .services-holder {
            display: flex;
            flex-wrap: wrap;
            padding: 0 5px;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                padding: 0 10px;
            }

            @media #{$tablet-l} {
                padding: 0 px-to-vw(16);
            }

            .service-holder {
                width: 50%;
                box-sizing: border-box;
                margin-bottom: 10px;
                display: flex;
                padding: 0 5px;

                @media #{$tablet-s} {
                    margin-bottom: 20px;
                    padding: 0 10px;
                }
                
                @media #{$tablet-l} {
                    margin-bottom: px-to-vw(32);
                    padding: 0 px-to-vw(15);
                    width: 25%;
                }

                &:hover{
                    .service{
                        border-radius: px-to-vw(80);

                        .service-icon{
                            border: solid 1px rgba(#fff, 100%);

                            img{
                                height: 2.6vw;
                            }
                        }
                    }
                }

                .service {
                    padding: 40px 20px;
                    border-radius: 20px;
                    overflow: hidden;
                    background-color: #235A5A;
                    @include transition();

                    @media #{$tablet-s} {
                        border-radius: px-to-vw(40);
                        padding: px-to-vw(170) px-to-vw(45);
                    }

                    @media #{$tablet-l} {
                        padding: px-to-vw(110) px-to-vw(45);
                    }

                    @media #{$laptop-s} {
                        padding: px-to-vw(170) px-to-vw(75);
                    }

                    @media #{$desktop-s} {
                        padding-right: px-to-vw(150);
                    }

                    .service-title {
                        @include title-3();
                        color: #fff;
                        margin-bottom: 13px;
                        @include font2R();
                        text-align: left;

                        @media #{$tablet-l} {
                            max-width: 70%;
                        }

                        @media #{$desktop-s} {
                            max-width: 100%;
                        }
                    }

                    .service-description {
                        p {
                            @include text-2();
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .fourth-section{
        padding-top: 65px;
        padding-bottom: 65px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        @media #{$tablet-s} {
            padding-top: px-to-vw(170);
            padding-bottom: px-to-vw(160);
            padding-left: 20px;
            padding-right: 20px;
        }

        @media #{$tablet-l} {
            padding-left: px-to-vw(30);
            padding-right: px-to-vw(30);
        }

        h2{
            @include title-2();
            margin-bottom: 40px;
            text-align: center;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(100);
            }
        }

        .expertise-list{
            display: flex;
            flex-wrap: wrap;
            @include fadeIn();
            @include transition();

            .single-expertise{
                width: 100%;
                padding: 0;
                box-sizing: border-box;
                display: block;
                cursor: pointer;
                margin-bottom: 45px;

                &:last-child{
                    margin-bottom: 0;
                }

                @media #{$tablet-s} {
                    padding: 0 10px;
                    width: 50%;
                    margin-bottom: 0px;
                }

                @media #{$tablet-l} {
                    padding: 0 px-to-vw(15);
                }

                &:hover{
                    .image-holder{
                        img{
                            transform: scale(1.03);
                        }

                        .pill{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .image-holder{
                    position: relative;
                    overflow: hidden;
                    padding-top: 74%;
                    border-radius: 20px;
                    margin-bottom: 25px;
                    -webkit-mask-image: -webkit-radial-gradient(white, black);

                    @media #{$tablet-s} {
                        border-radius: px-to-vw(30);
                        margin-bottom: px-to-vw(40);
                    }

                    img, video{
                        @include cropped-img();
                        z-index: 1;
                        @include transition();
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($color: #000000, $alpha: 0.25);
                    }

                    h3{
                        position: absolute;
                        @include title-2();
                        color: #fff;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 4;
                        width: 100%;
                        text-align: center;
                    }

                    .pill{
                        z-index: 3;
                        width: auto;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 20px;
                        opacity: 0;
                        visibility: hidden;

                        @media #{$desktop-s} {
                            bottom: px-to-vw(20);
                        }
                    }
                }

                p{
                    @include text-1();
                    text-align: center;
                    margin: auto;
                    padding: 0 30px;
                    box-sizing: border-box;
                    
                    @media #{$laptop-s} {
                        padding: 0px;
                        max-width: px-to-vw(550);
                    }

                    @media #{$desktop-s} {
                        max-width: px-to-vw(410);
                    }
                }
            }
        }
    }

    .fifth-section{
        box-sizing: border-box;
        padding: 70px 40px;
        padding-top: 0;
        text-align: center;
        @include fadeIn();
        @include transition();

        @media #{$tablet-s} {
            padding: px-to-vw(270) px-to-vw(120);
            padding-top: 0;
        }

        h2{
            @include title-2();
            margin-bottom: 25px;

            @media #{$tablet-s} {
                margin-bottom: px-to-vw(40);
            }
        }

        .btn{
            display: inline-block;
            width: auto;
        }
    }
}