.template-faq-page-container {

    .faq-content-wrap{
        box-sizing: border-box;
        
        @media #{$tablet-s} {
            padding: 0 20px;
        }

        @media #{$tablet-l} {
            padding: 0 px-to-vw(30);
        }
        
        .faq-content{
            background-color: $light-grey;
            border-radius: 20px;
            padding: 0 10px;
            box-sizing: border-box;
            @include fadeIn();
            @include transition();

            @media #{$tablet-s} {
                border-radius: px-to-vw(30);
                margin-bottom: px-to-vw(30);
                padding: px-to-vw(120) px-to-vw(30) px-to-vw(70) px-to-vw(30);
            }


            .faq-wrap{
                .single-faq-category{
                    display: flex;
                    flex-wrap: wrap;
                    border-bottom: 1px solid #33393F;
                    box-sizing: border-box;
                    padding: 50px 0;

                    @media #{$tablet-s} {
                        padding: px-to-vw(75) px-to-vw(0);
                    }

                    &:last-child{
                        border-bottom: none;
                    }

                    .left{
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 35px;
                        text-align: center;
                        
                        @media #{$tablet-s} {
                            margin-bottom: 0px;
                            text-align: left;
                            width: 30%;
                            padding-left: px-to-vw(70);
                        }

                        h3{
                            @include title-2();
                        }
                    }

                    .right{
                        width: 100%;

                        @media #{$tablet-s} {
                            width: 70%;
                        }

                        .single-faq{
                            box-sizing: border-box;
                            padding: 25px;
                            border-radius: 20px;
                            margin-bottom: 10px;
                            background-color: #fff;
                            cursor: pointer;

                            @media #{$tablet-s} {
                                padding: px-to-vw(60) px-to-vw(70);
                                margin-bottom: px-to-vw(25);
                                border-radius: px-to-vw(30);
                            }


                            &:hover{
                                .faq-header{
                                    .faq-opener{
                                        border: 1px solid $light-green;
                                        background-color: $light-green;

                                        span{
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }

                            &.active{
                                .faq-header{
                                    .faq-opener{
                                        border: 1px solid $light-green;
                                        background-color: $light-green;

                                        span{
                                            background-color: #fff;
                                            
                                            &:first-child{
                                                height: 0px;
                                            }
                                        }
                                    }
                                }
                            }

                            .faq-header{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                h4{
                                    @include title-3();
                                    max-width: 90%;
                                    @include font2R();
                                }

                                .faq-opener{
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 30px;
                                    border: 1px solid $light-grey;
                                    position: relative;
                                    @include transition();

                                    @media #{$tablet-l} {
                                        width: px-to-vw(42);
                                        height: px-to-vw(42);
                                        border-radius: px-to-vw(42);
                                    }

                                    &.active{
                                        background-color: $light-green;
                                    }

                                    span{
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        background-color: $light-green;;
                                        display: block;
                                        width: 1px;
                                        height: 10px;
                                        @include transition();
                                        
                                        @media #{$tablet-l} {
                                            height: px-to-vw(20);
                                        }

                                        &:last-child{
                                            transform: translate(-50%, -50%) rotate(90deg);
                                        }
                                    }
                                }
                            }

                            .faq-description{
                                max-width: 90%;
                                display: none;
                                margin-top: 10px;

                                p, a{
                                    @include text-2();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}